legend{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
table{
    height: 80vh;
    width: 100%;
}
tr{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}
label{
    cursor: pointer;
}
.btn{
    height: 30px;
    width: 120px;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}
.btn:hover{
    color: black;
    background-color: white;
}